src/main/webapp/WEB-INF/accordi/EsitoElaborazione.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.csp.eng.it" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.csp.eng.it" xmlns:intf="http://webservices.csp.eng.it" xmlns:tns1="http://esitoelaborazione.messages.webservices.csp.mef.it" xmlns:tns2="http://messages.webservices.csp.mef.it" xmlns:tns3="http://dto.webservices.csp.mef.it" xmlns:tns4="http://richiestaoperazione.messages.webservices.csp.mef.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://dto.webservices.csp.mef.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://esitoelaborazione.messages.webservices.csp.mef.it"/>
   <import namespace="http://richiestaoperazione.messages.webservices.csp.mef.it"/>
   <import namespace="http://messages.webservices.csp.mef.it"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Credenziali">
    <sequence>
     <element name="idAmministrazione" nillable="true" type="xsd:string"/>
     <element name="idSistema" type="xsd:int"/>
     <element name="password" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Ticket">
    <sequence>
     <element name="dataAssegnazione" nillable="true" type="xsd:dateTime"/>
     <element name="dataFineTrasmissione" nillable="true" type="xsd:dateTime"/>
     <element name="fileRicevuto" type="xsd:boolean"/>
     <element name="idAmministrazione" nillable="true" type="xsd:string"/>
     <element name="idSistema" type="xsd:int"/>
     <element name="idTicket" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="EsitoOperazione">
    <sequence>
     <element name="codiceEsito" type="xsd:int"/>
     <element name="descrizioneEsito" nillable="true" type="xsd:string"/>
     <element name="dettaglio" nillable="true" type="xsd:string"/>
     <element name="timeStamp" nillable="true" type="xsd:dateTime"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://messages.webservices.csp.mef.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://esitoelaborazione.messages.webservices.csp.mef.it"/>
   <import namespace="http://richiestaoperazione.messages.webservices.csp.mef.it"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://dto.webservices.csp.mef.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="GenericInMessage">
    <sequence>
     <element name="credenziali" nillable="true" type="tns3:Credenziali"/>
    </sequence>
   </complexType>
   <complexType name="GenericTicketInMessage">
    <complexContent>
     <extension base="tns2:GenericInMessage">
      <sequence>
       <element name="ticket" nillable="true" type="tns3:Ticket"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="GenericOutMessage">
    <sequence>
     <element name="esitoOperazione" nillable="true" type="tns3:EsitoOperazione"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://esitoelaborazione.messages.webservices.csp.mef.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://richiestaoperazione.messages.webservices.csp.mef.it"/>
   <import namespace="http://messages.webservices.csp.mef.it"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://dto.webservices.csp.mef.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="StatisticheElaborazioniInAsAttachments">
    <complexContent>
     <extension base="tns2:GenericTicketInMessage">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="StatisticheElaborazioniOutAsAttachment">
    <complexContent>
     <extension base="tns2:GenericOutMessage">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="EsitoAnagraficaRiferimentoIn">
    <complexContent>
     <extension base="tns2:GenericTicketInMessage">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="EsitoAnagraficaRiferimentoOut">
    <complexContent>
     <extension base="tns2:GenericOutMessage">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LogErroriIn">
    <complexContent>
     <extension base="tns2:GenericTicketInMessage">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LogErroriOut">
    <complexContent>
     <extension base="tns2:GenericOutMessage">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="StatisticheScartiInAsAttachment">
    <complexContent>
     <extension base="tns2:GenericTicketInMessage">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="StatisticheScartiOutAsAttachment">
    <complexContent>
     <extension base="tns2:GenericOutMessage">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://richiestaoperazione.messages.webservices.csp.mef.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://esitoelaborazione.messages.webservices.csp.mef.it"/>
   <import namespace="http://messages.webservices.csp.mef.it"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://dto.webservices.csp.mef.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="RichiestaEsitoPrevalidazioneRequestType">
    <complexContent>
     <extension base="tns2:GenericInMessage">
      <sequence>
       <element name="identificativoRichiesta" type="xsd:long"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RichiestaEsitoPrevalidazioneResponseType">
    <complexContent>
     <extension base="tns2:GenericOutMessage">
      <sequence>
       <element name="nomeFile" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="esitoAnagraficaRiferimentoRequest">

      <wsdl:part name="inMessage" type="tns1:EsitoAnagraficaRiferimentoIn">

      </wsdl:part>

      <wsdl:part name="content" type="apachesoap:DataHandler">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="statisticheScartiAsAttachmentRequest">

      <wsdl:part name="inMessage" type="tns1:StatisticheScartiInAsAttachment">

      </wsdl:part>

      <wsdl:part name="content" type="apachesoap:DataHandler">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="esitoAnagraficaRiferimentoResponse">

      <wsdl:part name="esitoAnagraficaRiferimentoReturn" type="tns1:EsitoAnagraficaRiferimentoOut">

      </wsdl:part>

      <wsdl:part name="content" type="apachesoap:DataHandler">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="richiestaEsitoPrevalidazioneResponse">

      <wsdl:part name="richiestaEsitoPrevalidazioneResponse" type="tns4:RichiestaEsitoPrevalidazioneResponseType">

      </wsdl:part>

      <wsdl:part name="content" type="apachesoap:DataHandler">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="richiestaEsitoPrevalidazioneRequest">

      <wsdl:part name="inMessage" type="tns4:RichiestaEsitoPrevalidazioneRequestType">

      </wsdl:part>

      <wsdl:part name="content" type="apachesoap:DataHandler">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logErroriResponse">

      <wsdl:part name="logErroriReturn" type="tns1:LogErroriOut">

      </wsdl:part>

      <wsdl:part name="content" type="apachesoap:DataHandler">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="statisticheElaborazioniAsAttachmentResponse">

      <wsdl:part name="statisticheElaborazioniAsAttachmentReturn" type="tns1:StatisticheElaborazioniOutAsAttachment">

      </wsdl:part>

      <wsdl:part name="content" type="apachesoap:DataHandler">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logErroriRequest">

      <wsdl:part name="inMessage" type="tns1:LogErroriIn">

      </wsdl:part>

      <wsdl:part name="content" type="apachesoap:DataHandler">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="statisticheElaborazioniAsAttachmentRequest">

      <wsdl:part name="inMessage" type="tns1:StatisticheElaborazioniInAsAttachments">

      </wsdl:part>

      <wsdl:part name="content" type="apachesoap:DataHandler">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="statisticheScartiAsAttachmentResponse">

      <wsdl:part name="statisticheScartiAsAttachmentReturn" type="tns1:StatisticheScartiOutAsAttachment">

      </wsdl:part>

      <wsdl:part name="content" type="apachesoap:DataHandler">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EsitoElaborazione">

      <wsdl:operation name="statisticheElaborazioniAsAttachment" parameterOrder="inMessage content">

         <wsdl:input message="impl:statisticheElaborazioniAsAttachmentRequest" name="statisticheElaborazioniAsAttachmentRequest">

       </wsdl:input>

         <wsdl:output message="impl:statisticheElaborazioniAsAttachmentResponse" name="statisticheElaborazioniAsAttachmentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="esitoAnagraficaRiferimento" parameterOrder="inMessage content">

         <wsdl:input message="impl:esitoAnagraficaRiferimentoRequest" name="esitoAnagraficaRiferimentoRequest">

       </wsdl:input>

         <wsdl:output message="impl:esitoAnagraficaRiferimentoResponse" name="esitoAnagraficaRiferimentoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logErrori" parameterOrder="inMessage content">

         <wsdl:input message="impl:logErroriRequest" name="logErroriRequest">

       </wsdl:input>

         <wsdl:output message="impl:logErroriResponse" name="logErroriResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="statisticheScartiAsAttachment" parameterOrder="inMessage content">

         <wsdl:input message="impl:statisticheScartiAsAttachmentRequest" name="statisticheScartiAsAttachmentRequest">

       </wsdl:input>

         <wsdl:output message="impl:statisticheScartiAsAttachmentResponse" name="statisticheScartiAsAttachmentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="richiestaEsitoPrevalidazione" parameterOrder="inMessage content">

         <wsdl:input message="impl:richiestaEsitoPrevalidazioneRequest" name="richiestaEsitoPrevalidazioneRequest">

       </wsdl:input>

         <wsdl:output message="impl:richiestaEsitoPrevalidazioneResponse" name="richiestaEsitoPrevalidazioneResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EsitoElaborazioneSoapBinding" type="impl:EsitoElaborazione">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="statisticheElaborazioniAsAttachment">

         <wsdlsoap:operation soapAction="statisticheElaborazioniAsAttachment"/>

         <wsdl:input name="statisticheElaborazioniAsAttachmentRequest">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:input>

         <wsdl:output name="statisticheElaborazioniAsAttachmentResponse">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="esitoAnagraficaRiferimento">

         <wsdlsoap:operation soapAction="esitoAnagraficaRiferimento"/>

         <wsdl:input name="esitoAnagraficaRiferimentoRequest">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:input>

         <wsdl:output name="esitoAnagraficaRiferimentoResponse">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logErrori">

         <wsdlsoap:operation soapAction="logErrori"/>

         <wsdl:input name="logErroriRequest">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:input>

         <wsdl:output name="logErroriResponse">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="statisticheScartiAsAttachment">

         <wsdlsoap:operation soapAction="statisticheScartiAsAttachment"/>

         <wsdl:input name="statisticheScartiAsAttachmentRequest">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:input>

         <wsdl:output name="statisticheScartiAsAttachmentResponse">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="richiestaEsitoPrevalidazione">

         <wsdlsoap:operation soapAction="richiestaEsitoPrevalidazione"/>

         <wsdl:input name="richiestaEsitoPrevalidazioneRequest">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:input>

         <wsdl:output name="richiestaEsitoPrevalidazioneResponse">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EsitoElaborazioneService">

      <wsdl:port binding="impl:EsitoElaborazioneSoapBinding" name="EsitoElaborazione">

         <wsdlsoap:address location="http://igruesrv.tesoro.it/CPSWeb/services/EsitoElaborazione"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
