src/main/webapp/WEB-INF/accordi/GestioneEventi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.csp.eng.it" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.csp.eng.it" xmlns:intf="http://webservices.csp.eng.it" xmlns:tns1="http://gestioneeventi.messages.webservices.csp.mef.it" xmlns:tns2="http://messages.webservices.csp.mef.it" xmlns:tns3="http://dto.webservices.csp.mef.it" xmlns:tns4="http://event.system.mef.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://dto.webservices.csp.mef.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://gestioneeventi.messages.webservices.csp.mef.it"/>
   <import namespace="http://messages.webservices.csp.mef.it"/>
   <import namespace="http://webservices.csp.eng.it"/>
   <import namespace="http://event.system.mef.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Credenziali">
    <sequence>
     <element name="idAmministrazione" nillable="true" type="xsd:string"/>
     <element name="idSistema" type="xsd:int"/>
     <element name="password" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="EsitoOperazione">
    <sequence>
     <element name="codiceEsito" type="xsd:int"/>
     <element name="descrizioneEsito" nillable="true" type="xsd:string"/>
     <element name="dettaglio" nillable="true" type="xsd:string"/>
     <element name="timeStamp" nillable="true" type="xsd:dateTime"/>
    </sequence>
   </complexType>
   <complexType name="Property">
    <sequence>
     <element name="key" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="EventWS">
    <sequence>
     <element name="endDate" nillable="true" type="xsd:dateTime"/>
     <element name="eventType" nillable="true" type="tns4:EventType"/>
     <element name="id" type="xsd:long"/>
     <element name="owner" nillable="true" type="tns4:Owner"/>
     <element name="parameterId" nillable="true" type="xsd:string"/>
     <element name="properties" nillable="true" type="impl:ArrayOf_tns4_nillable_Property"/>
     <element name="reason" nillable="true" type="xsd:string"/>
     <element name="startDate" nillable="true" type="xsd:dateTime"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://messages.webservices.csp.mef.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://gestioneeventi.messages.webservices.csp.mef.it"/>
   <import namespace="http://dto.webservices.csp.mef.it"/>
   <import namespace="http://webservices.csp.eng.it"/>
   <import namespace="http://event.system.mef.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="GenericInMessage">
    <sequence>
     <element name="credenziali" nillable="true" type="tns3:Credenziali"/>
    </sequence>
   </complexType>
   <complexType name="GenericOutMessage">
    <sequence>
     <element name="esitoOperazione" nillable="true" type="tns3:EsitoOperazione"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://gestioneeventi.messages.webservices.csp.mef.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://messages.webservices.csp.mef.it"/>
   <import namespace="http://dto.webservices.csp.mef.it"/>
   <import namespace="http://webservices.csp.eng.it"/>
   <import namespace="http://event.system.mef.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ListaTipiIn">
    <complexContent>
     <extension base="tns2:GenericInMessage">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ListaTipiOut">
    <complexContent>
     <extension base="tns2:GenericOutMessage">
      <sequence>
       <element name="tipiEvento" nillable="true" type="impl:ArrayOf_tns5_nillable_EventType"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ListaIn">
    <complexContent>
     <extension base="tns2:GenericInMessage">
      <sequence>
       <element name="listGenericEvents" type="xsd:boolean"/>
       <element name="parameterId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ListaOut">
    <complexContent>
     <extension base="tns2:GenericOutMessage">
      <sequence>
       <element name="eventi" nillable="true" type="impl:ArrayOf_tns4_nillable_EventWS"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="CancellaIn">
    <complexContent>
     <extension base="tns2:GenericInMessage">
      <sequence>
       <element name="eventIds" nillable="true" type="impl:ArrayOf_xsd_long"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="CancellaOut">
    <complexContent>
     <extension base="tns2:GenericOutMessage">
      <sequence>
       <element name="deleted" nillable="true" type="impl:ArrayOf_xsd_boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://event.system.mef.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://gestioneeventi.messages.webservices.csp.mef.it"/>
   <import namespace="http://messages.webservices.csp.mef.it"/>
   <import namespace="http://dto.webservices.csp.mef.it"/>
   <import namespace="http://webservices.csp.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="EventType">
    <sequence>
     <element name="code" type="xsd:int"/>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Owner">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="idAmministrazione" nillable="true" type="xsd:string"/>
     <element name="idSistema" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://webservices.csp.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://gestioneeventi.messages.webservices.csp.mef.it"/>
   <import namespace="http://messages.webservices.csp.mef.it"/>
   <import namespace="http://dto.webservices.csp.mef.it"/>
   <import namespace="http://event.system.mef.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns5_nillable_EventType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns4:EventType"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns4_nillable_Property">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns3:Property"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns4_nillable_EventWS">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns3:EventWS"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_xsd_long">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_xsd_boolean">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:boolean"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="listaTipiResponse">

      <wsdl:part name="listaTipiReturn" type="tns1:ListaTipiOut">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancellaRequest">

      <wsdl:part name="inMessage" type="tns1:CancellaIn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listaRequest">

      <wsdl:part name="inMessage" type="tns1:ListaIn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listaTipiRequest">

      <wsdl:part name="inMessage" type="tns1:ListaTipiIn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancellaResponse">

      <wsdl:part name="cancellaReturn" type="tns1:CancellaOut">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listaResponse">

      <wsdl:part name="listaReturn" type="tns1:ListaOut">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GestioneEventi">

      <wsdl:operation name="listaTipi" parameterOrder="inMessage">

         <wsdl:input message="impl:listaTipiRequest" name="listaTipiRequest">

       </wsdl:input>

         <wsdl:output message="impl:listaTipiResponse" name="listaTipiResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="lista" parameterOrder="inMessage">

         <wsdl:input message="impl:listaRequest" name="listaRequest">

       </wsdl:input>

         <wsdl:output message="impl:listaResponse" name="listaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancella" parameterOrder="inMessage">

         <wsdl:input message="impl:cancellaRequest" name="cancellaRequest">

       </wsdl:input>

         <wsdl:output message="impl:cancellaResponse" name="cancellaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GestioneEventiSoapBinding" type="impl:GestioneEventi">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listaTipi">

         <wsdlsoap:operation soapAction="listaTipi"/>

         <wsdl:input name="listaTipiRequest">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:input>

         <wsdl:output name="listaTipiResponse">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="lista">

         <wsdlsoap:operation soapAction="lista"/>

         <wsdl:input name="listaRequest">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:input>

         <wsdl:output name="listaResponse">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancella">

         <wsdlsoap:operation soapAction="cancella"/>

         <wsdl:input name="cancellaRequest">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:input>

         <wsdl:output name="cancellaResponse">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GestioneEventiService">

      <wsdl:port binding="impl:GestioneEventiSoapBinding" name="GestioneEventi">

         <wsdlsoap:address location="http://igruesrv.tesoro.it/CPSWeb/services/GestioneEventi"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
