src/main/webapp/WEB-INF/accordi/Tipologie.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.csp.eng.it" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.csp.eng.it" xmlns:intf="http://webservices.csp.eng.it" xmlns:tns1="http://tipologie.messages.webservices.csp.mef.it" xmlns:tns2="http://messages.webservices.csp.mef.it" xmlns:tns3="http://dto.webservices.csp.mef.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://dto.webservices.csp.mef.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://tipologie.messages.webservices.csp.mef.it"/>
   <import namespace="http://messages.webservices.csp.mef.it"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://webservices.csp.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Credenziali">
    <sequence>
     <element name="idAmministrazione" nillable="true" type="xsd:string"/>
     <element name="idSistema" type="xsd:int"/>
     <element name="password" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="EsitoOperazione">
    <sequence>
     <element name="codiceEsito" type="xsd:int"/>
     <element name="descrizioneEsito" nillable="true" type="xsd:string"/>
     <element name="dettaglio" nillable="true" type="xsd:string"/>
     <element name="timeStamp" nillable="true" type="xsd:dateTime"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://messages.webservices.csp.mef.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://tipologie.messages.webservices.csp.mef.it"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://dto.webservices.csp.mef.it"/>
   <import namespace="http://webservices.csp.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="GenericInMessage">
    <sequence>
     <element name="credenziali" nillable="true" type="tns3:Credenziali"/>
    </sequence>
   </complexType>
   <complexType name="GenericOutMessage">
    <sequence>
     <element name="esitoOperazione" nillable="true" type="tns3:EsitoOperazione"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://tipologie.messages.webservices.csp.mef.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://messages.webservices.csp.mef.it"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://dto.webservices.csp.mef.it"/>
   <import namespace="http://webservices.csp.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="AllDatiContestoIn">
    <complexContent>
     <extension base="tns2:GenericInMessage">
      <sequence>
       <element name="protocollo" nillable="true" type="xsd:int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="AllDatiContestoOut">
    <complexContent>
     <extension base="tns2:GenericOutMessage">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="DatiContestoPerTipologiaIn">
    <complexContent>
     <extension base="tns2:GenericInMessage">
      <sequence>
       <element name="idTipologieRichieste" nillable="true" type="impl:ArrayOf_xsd_nillable_string"/>
       <element name="protocollo" nillable="true" type="xsd:int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="DatiContestoPerTipologiaOut">
    <complexContent>
     <extension base="tns2:GenericOutMessage">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://webservices.csp.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://tipologie.messages.webservices.csp.mef.it"/>
   <import namespace="http://messages.webservices.csp.mef.it"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://dto.webservices.csp.mef.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_nillable_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="datiContestoPerTipologiaResponse">

      <wsdl:part name="datiContestoPerTipologiaReturn" type="tns1:DatiContestoPerTipologiaOut">

      </wsdl:part>

      <wsdl:part name="content" type="apachesoap:DataHandler">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="allDatiContestoResponse">

      <wsdl:part name="allDatiContestoReturn" type="tns1:AllDatiContestoOut">

      </wsdl:part>

      <wsdl:part name="content" type="apachesoap:DataHandler">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="datiContestoPerTipologiaRequest">

      <wsdl:part name="inMessage" type="tns1:DatiContestoPerTipologiaIn">

      </wsdl:part>

      <wsdl:part name="content" type="apachesoap:DataHandler">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="allDatiContestoRequest">

      <wsdl:part name="inMessage" type="tns1:AllDatiContestoIn">

      </wsdl:part>

      <wsdl:part name="content" type="apachesoap:DataHandler">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Tipologie">

      <wsdl:operation name="allDatiContesto" parameterOrder="inMessage content">

         <wsdl:input message="impl:allDatiContestoRequest" name="allDatiContestoRequest">

       </wsdl:input>

         <wsdl:output message="impl:allDatiContestoResponse" name="allDatiContestoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="datiContestoPerTipologia" parameterOrder="inMessage content">

         <wsdl:input message="impl:datiContestoPerTipologiaRequest" name="datiContestoPerTipologiaRequest">

       </wsdl:input>

         <wsdl:output message="impl:datiContestoPerTipologiaResponse" name="datiContestoPerTipologiaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TipologieSoapBinding" type="impl:Tipologie">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="allDatiContesto">

         <wsdlsoap:operation soapAction="allDatiContesto"/>

         <wsdl:input name="allDatiContestoRequest">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:input>

         <wsdl:output name="allDatiContestoResponse">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="datiContestoPerTipologia">

         <wsdlsoap:operation soapAction="datiContestoPerTipologia"/>

         <wsdl:input name="datiContestoPerTipologiaRequest">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:input>

         <wsdl:output name="datiContestoPerTipologiaResponse">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TipologieService">

      <wsdl:port binding="impl:TipologieSoapBinding" name="Tipologie">

         <wsdlsoap:address location="http://igruesrv.tesoro.it/CPSWeb/services/Tipologie"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
