src/main/webapp/WEB-INF/accordi/Trasmissione.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.csp.eng.it" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.csp.eng.it" xmlns:intf="http://webservices.csp.eng.it" xmlns:tns1="http://trasmissione.messages.webservices.csp.mef.it" xmlns:tns2="http://messages.webservices.csp.mef.it" xmlns:tns3="http://dto.webservices.csp.mef.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://dto.webservices.csp.mef.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://messages.webservices.csp.mef.it"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://trasmissione.messages.webservices.csp.mef.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Credenziali">
    <sequence>
     <element name="idAmministrazione" nillable="true" type="xsd:string"/>
     <element name="idSistema" type="xsd:int"/>
     <element name="password" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="EsitoOperazione">
    <sequence>
     <element name="codiceEsito" type="xsd:int"/>
     <element name="descrizioneEsito" nillable="true" type="xsd:string"/>
     <element name="dettaglio" nillable="true" type="xsd:string"/>
     <element name="timeStamp" nillable="true" type="xsd:dateTime"/>
    </sequence>
   </complexType>
   <complexType name="Ticket">
    <sequence>
     <element name="dataAssegnazione" nillable="true" type="xsd:dateTime"/>
     <element name="dataFineTrasmissione" nillable="true" type="xsd:dateTime"/>
     <element name="fileRicevuto" type="xsd:boolean"/>
     <element name="idAmministrazione" nillable="true" type="xsd:string"/>
     <element name="idSistema" type="xsd:int"/>
     <element name="idTicket" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="CodiceProceduraAttivazione">
    <sequence>
     <element name="dataAssegnazione" nillable="true" type="xsd:dateTime"/>
     <element name="idAmministrazione" nillable="true" type="xsd:string"/>
     <element name="idProceduraAttivazione" nillable="true" type="xsd:string"/>
     <element name="idSistema" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://messages.webservices.csp.mef.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://trasmissione.messages.webservices.csp.mef.it"/>
   <import namespace="http://dto.webservices.csp.mef.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="GenericInMessage">
    <sequence>
     <element name="credenziali" nillable="true" type="tns3:Credenziali"/>
    </sequence>
   </complexType>
   <complexType name="GenericOutMessage">
    <sequence>
     <element name="esitoOperazione" nillable="true" type="tns3:EsitoOperazione"/>
    </sequence>
   </complexType>
   <complexType name="GenericTicketInMessage">
    <complexContent>
     <extension base="tns2:GenericInMessage">
      <sequence>
       <element name="ticket" nillable="true" type="tns3:Ticket"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://trasmissione.messages.webservices.csp.mef.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://messages.webservices.csp.mef.it"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://dto.webservices.csp.mef.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="PrenotazioneTrasmissioneIn">
    <complexContent>
     <extension base="tns2:GenericInMessage">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="PrenotazioneTrasmissioneOut">
    <complexContent>
     <extension base="tns2:GenericOutMessage">
      <sequence>
       <element name="ticket" nillable="true" type="tns3:Ticket"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="AssegnazioneCodProcAttIn">
    <complexContent>
     <extension base="tns2:GenericInMessage">
      <sequence>
       <element name="protocollo" nillable="true" type="xsd:int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="AssegnazioneCodProcAttOut">
    <complexContent>
     <extension base="tns2:GenericOutMessage">
      <sequence>
       <element name="codiceProceduraAttivazione" nillable="true" type="tns3:CodiceProceduraAttivazione"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InviaFileIn">
    <complexContent>
     <extension base="tns2:GenericTicketInMessage">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InviaFileOut">
    <complexContent>
     <extension base="tns2:GenericOutMessage">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="prenotazioneTrasmissioneRequest">

      <wsdl:part name="inMessage" type="tns1:PrenotazioneTrasmissioneIn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="assegnazioneCodProcAttRequest">

      <wsdl:part name="inMessage" type="tns1:AssegnazioneCodProcAttIn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inviaFileResponse">

      <wsdl:part name="inviaFileReturn" type="tns1:InviaFileOut">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="prenotazioneTrasmissioneResponse">

      <wsdl:part name="prenotazioneTrasmissioneReturn" type="tns1:PrenotazioneTrasmissioneOut">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="assegnazioneCodProcAttResponse">

      <wsdl:part name="assegnazioneCodProcAttReturn" type="tns1:AssegnazioneCodProcAttOut">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inviaFileRequest">

      <wsdl:part name="inMessage" type="tns1:InviaFileIn">

      </wsdl:part>

      <wsdl:part name="content" type="apachesoap:DataHandler">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Trasmissione">

      <wsdl:operation name="prenotazioneTrasmissione" parameterOrder="inMessage">

         <wsdl:input message="impl:prenotazioneTrasmissioneRequest" name="prenotazioneTrasmissioneRequest">

       </wsdl:input>

         <wsdl:output message="impl:prenotazioneTrasmissioneResponse" name="prenotazioneTrasmissioneResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="assegnazioneCodProcAtt" parameterOrder="inMessage">

         <wsdl:input message="impl:assegnazioneCodProcAttRequest" name="assegnazioneCodProcAttRequest">

       </wsdl:input>

         <wsdl:output message="impl:assegnazioneCodProcAttResponse" name="assegnazioneCodProcAttResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="inviaFile" parameterOrder="inMessage content">

         <wsdl:input message="impl:inviaFileRequest" name="inviaFileRequest">

       </wsdl:input>

         <wsdl:output message="impl:inviaFileResponse" name="inviaFileResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TrasmissioneSoapBinding" type="impl:Trasmissione">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="prenotazioneTrasmissione">

         <wsdlsoap:operation soapAction="prenotazioneTrasmissione"/>

         <wsdl:input name="prenotazioneTrasmissioneRequest">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:input>

         <wsdl:output name="prenotazioneTrasmissioneResponse">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="assegnazioneCodProcAtt">

         <wsdlsoap:operation soapAction="assegnazioneCodProcAtt"/>

         <wsdl:input name="assegnazioneCodProcAttRequest">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:input>

         <wsdl:output name="assegnazioneCodProcAttResponse">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="inviaFile">

         <wsdlsoap:operation soapAction="inviaFile"/>

         <wsdl:input name="inviaFileRequest">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:input>

         <wsdl:output name="inviaFileResponse">

            <wsdlsoap:body namespace="http://webservices.csp.eng.it" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TrasmissioneService">

      <wsdl:port binding="impl:TrasmissioneSoapBinding" name="Trasmissione">

         <wsdlsoap:address location="http://igruesrv.tesoro.it/CPSWeb/services/Trasmissione"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
